@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    color: #F9FAF8;
    background-color: grey;
    font-family: 'roboto', 'sans-serif';
}
a{
    text-decoration: none;
    color: #E5E7EB;
}
ul{
    list-style-type: none;
}

.header{
    background-color: #04005E;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.right-links{
    display: flex;
    margin-right: 100px;
}
.link{
    margin-right: 50px;
}

.logo{
    color: #E92EFB;
    font-size: 24px;
    align-items: center;
    display: flex;
    margin-left: 100px;
}

.hero{
    background-color: #04005E;
    padding: 100px;
    display: flex;
    justify-content: space-around;
}
#hero-img{
    width: 300px;
    height: auto;
}

.hero-content{
    width: 400px;
    font-size: 18px;
}
.hero-main-text{
    font-size: 48px;
    padding-bottom: 20px;
}
.hero-content-text{
    color: lightgrey;
    padding-bottom: 24px;
}
button{
    background-color: #FF2079;
    border: none;
    color: white;
    padding: 6px 24px;
    font-size: 20px;
    border-radius: 8px;
}